body{
background: #f4f1ea;
font-family: "Source Sans 3", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
  color: #101d14;
}
h2{
  font-family: "Cinzel", sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.5;
    color: #e5ded0;
}
@media only screen and (min-width: 1440px) {
  body{
    font-size: 20px;
  }
  h2{
    font-size: 16px;
  }
}