.home-section{
    background-image: url("/img/home/mob.png");
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: cover;
    height: 813px;
}
.home-title{
    margin-top: 50px;
    font-family: "Cinzel", sans-serif;
font-weight: 700;
font-size: 32px;
text-transform: uppercase;
text-align: center;
color: #101d14;
text-shadow: 1px 2px 1px #e5ded0;
}
.home-text{
    margin-top: 16px;
    font-family: "Cinzel", sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.5;
        text-align: center;
        color: #101d14;
text-shadow: 1px 2px 1px #e5ded0;
}
@media only screen and (min-width: 1440px) {
 .home-section{
    background-image: url("/img/home/desk.png");
    height: 829px;
 }
 .home-title{
    margin-top: 80px;
    font-size: 48px;
 }
 .home-text{
    margin-top: 8px;
    font-size: 20px;
 }
 .mob{
    display: none;
 }
}
/* Game Concept */
.title-container{
    margin-top: -1px;
    padding: 48px 10px 16px;
    background: #1a2f20;
}
@media only screen and (min-width: 1440px) {
.title-container {
padding: 56px 10px 16px;
}
.game-text{
    width: 994px;
    margin-left: auto;
    margin-right: auto;
}
}
/* Gameplay Structure */
.core-swiper .swiper-slide{
border: 1px solid #938a79;
    border-radius: 8px;
    padding: 16px;
    width: 200px;
    height: 258px;
    background: #bfb5a4;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}
.core-swiper .swiper-slide p{
    font-family: "Source Sans 3", sans-serif;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.5;
        text-align: center;
        color: #101d14;
        width: 130px;
}
@media only screen and (min-width: 1440px) {
.core-swiper .swiper-wrapper{
    justify-content: center;
    gap: 32px;
}
.core-swiper .swiper-slide{
        height: 264px;
}
.core-swiper .swiper-slide p{
    font-size: 16px;
}
}